# Visual Studio
*.suo
*.user
*.VC.db
Builds/

# JUCE
JuceLibraryCode/jucer_*
BinaryData/

# IDE files
.vscode/
*.DS_Store

# Binaries
*.exe
*.dll
*.vst3

# JUCE / C++ projects
Builds/                 # all exporter projects + intermediate objs
*.sln
*.vcxproj*
*.user
*.obj
*.pdb
*.dll
*.exe
*.app
*.ipa
*.dSYM
# CMake / Ninja
build/
CMakeBuild
CMakeCache.txt
# IDE fluff
.idea/
.vscode/
*.DS_Store
Thumbs.db

